<a href="https://colab.research.google.com/github/kaleighpelikan/STAT-1129/blob/main/HW2_Pelikan_Kaleigh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

HW 2 Question 1

In [15]:
n = 0
while n < 10:
  print(n)
  n += 1
  if n == 5:
    break

0
1
2
3
4

HW 2 Question 2

In [22]:
n = 0 
while n < 5:
  print(n)
  n += 1
else: 
  print("5 is not less than 5")

0
1
2
3
4
5 is not less than 5

HW 2 Question 3

In [28]:
fruitList = ["watermelon", "mango", "apple", "strawberry"]
for fruit in fruitList:
  if fruit == "apple":
    break
  print("I like", fruit)

I like watermelon
I like mango

HW 2 Question 4

In [30]:
n = 30
sum = 0
i = 1

while i <= n:
  sum = sum + i
  i = i + 1

print("The sum is", sum)

The sum is 465

HW 2 Question 5

In [31]:
grade = 98
if grade >= 90: 
  print("A")
elif grade >= 80:
  print("B")
elif grade >= 70:
  print("C")
elif grade >= 60:
  print("D")
elif grade < 60:
  print("F")

A

HW 2 Question 6.1

In [54]:
marks = {"Andy" : 88, "Amy" : 66, "James" : 90, "Jules" : 55, "Arthur" : 77}
for names, grades in marks.items():
  print(names, grades)

Andy 88
Amy 66
James 90
Jules 55
Arthur 77

HW 2 Question 6.2

In [68]:
marks = {"Andy" : 88, "Amy" : 66, "James" : 90, "Jules" : 55, "Arthur" : 77}

total = 0
for grades in marks.values():
  total += grades
total = total / len(marks)
print("The average grade is", str(total))
print("the highest grade is", max(marks.values()))
print("the lowest grade is", min(marks.values()))

The average grade is 75.2
the highest grade is 90
the lowest grade is 55

HW 2 Question 6.3

In [22]:
marks = {"Andy" : 88, "Amy" : 66, "James" : 90, "Jules" : 55, "Arthur" : 77}
for name in marks:
  if name == 'James':
    break
  print(name)

Andy
Amy

HW 2 Question 6.4

In [23]:
marks = {"Andy" :  88, "Amy" : 66, "James" : 90, "Jules" : 55, "Arthur" : 77}
for name in marks:
  if name == 'James':
    continue
  print(name)

Andy
Amy
Jules
Arthur