<a href="https://colab.research.google.com/github/kaleighpelikan/STAT-1129/blob/main/HW3_Pelikan_Kaleigh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

HW 3 Question 1

In [49]:
def function(marks):
  for key in marks:
    print(key, marks[key])

marks = {'Andy' : 88, 'Amy' : 66, 'James' : 90, 'Jules' : 55, 'Arthur' : 77}

function(marks)

Andy 88
Amy 66
James 90
Jules 55
Arthur 77

In [132]:
def find_grade(fname):
  if fname in marks:
    return fname, marks[fname]
  else:
    return 'you cannot find student name'

In [133]:
find_grade('Andy')

('Andy', 88)

In [134]:
find_grade('Amy')

('Amy', 66)

In [135]:
find_grade('James')

('James', 90)

In [136]:
find_grade('Jules')

('Jules', 55)

In [137]:
find_grade('Arthur')

('Arthur', 77)

In [140]:
find_grade('Jake')

'you cannot find student name'

In [48]:
def average(*args):
  return 'the average grade is', sum(args) / len(args)

average(88, 66, 90, 55, 77)

('the average grade is', 75.2)

HW 3 Question 2

In [28]:
def printout(num):
  n = 0
  while n < num:
    print(n, n**2)
    n += 1
  else:
    print("greater than", n)
  
printout(8)

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
greater than 8

HW 3 Question 3

In [29]:
def sumfunction(num):
  n = 1
  sum = 0
  while n <= num:
    sum = sum + n
    n = n + 1
  print(sum)

sumfunction(22)

253

HW 3 Question 4

In [30]:
def range_sum(num):
  sum = 0
  for n in range(num):
    sum = sum + n
  print(sum)

range_sum(22)

231

HW 3 Question 5

In [47]:
def range_sum(num):
  sum = 0
  for n in range(num):
    sum = sum + n
  print(sum)
range_sum(100)

4950

In [48]:
import statistics as stats
values = range(1,100)
stats.mean(values)

50

In [34]:
import statistics
statistics.pstdev(range(1,100))
import math
math.sqrt(statistics.pvariance(range(1,100)))

28.577380332470412

HW 3 Question 6

In [3]:
def minimal(value1, value2, value3, value4):
  min_value = value1
  if value2 < min_value:
    min_value = value2
  if value3 < min_value:
    min_value = value3
  if value4 < min_value:
    min_value = value4
  return min_value

minimal(44,22,11,88)

11

HW 3 Question 7

In [47]:
str1 = "I"
str2 = "love"
str3 = "watermelon"

concatenated_str = str1 + " " + str2 + " " + str3
print(concatenated_str)

I love watermelon